---
import AstroComponent from "components/AstroComponent"
import {ReactComponent} from "components/ReactComponent"
---
<html>
  <head>
    <title>Hello, World!</title>
  </head>
  <body>
    <h1>Hello, World</h1>
    <div>
      <div>An astro component (Always ssr)</div>
      <AstroComponent someProp="myProp1" />
    </div>
    <div>
      <div>A react component (Optional csr disabled)</div>
      <ReactComponent someProp="myProp2" />
    </div>
    <div>
      <div>A react component (Optional csr enabled)</div>
      <ReactComponent someProp="myProp3" />
    </div>
  </body>
</html>